body {
    height: 100%;
    margin: 0px !important;
}

.main{
    margin: auto;
    width: 95%;
}

.row {
    padding: 30px!important;
}

@media screen and (min-width: 1920px) {
    .main-view{
        width: 1200px;
        margin: auto;
    }
}


@media screen and (max-width: 1300px) {
    .main-view{
        width: 100%;
        margin: auto;
    }
}

/*.box-card{*/
/*    padding: 10px !important;*/
/*}*/